/.idea
.vscode
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env

backend/.ptpython_history
backend/alpaca_key_paper.json
backend/alpaca_key_live.json
backend/.alpaca.env
backend/alpaca.env
backend/tmp/